@page "/"

<!--hero section start-->
        <section class="hero-section ptb-120 text-white bg-gradient" style="background: url('/img/hero-dot-bg.png')no-repeat center right">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                            <h1 class="fw-bold display-5">Aldığın Uzaktan Eğitimi ve Üniversiteni Değerlendir</h1>
                            <p class="lead">Bölümün uzaktan eğitim esnasındaki ilerleyişini değerlendir ve insanlara fikir ver</p>
                            <div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                                <a a href="/contact" class="btn btn-primary me-3">Bölümünü Değerlendir</a>
                            </div>
                            <div class="row justify-content-lg-start mt-60">
                                <h6 class="text-white-70 mb-2">Hizmet Verdiğimiz ilk Üniversiteler:</h6>
                                <div class="col-4 col-sm-3 my-2 ps-lg-0">
                                    <img src="/img/logos/logo.png" alt="client" class="img-fluid">
                                </div>
                                @*<div class="col-4 col-sm-3 my-2">
                                    <img src="/img/clients/client-2.svg" alt="client" class="img-fluid">
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 mt-5">
                        <div class="hero-img position-relative circle-shape-images">
                            <!--animated shape start-->
                            <ul class="position-absolute animate-element parallax-element circle-shape-list">
                                <li class="layer" data-depth="0.03">
                                    <img src="/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-0 hero-1">
                                </li>
                                <li class="layer" data-depth="0.02">
                                    <img src="/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-1 hero-1">
                                </li>
                                <li class="layer" data-depth="0.04">
                                    <img src="/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-2 hero-1">
                                </li>
                                <li class="layer" data-depth="0.04">
                                    <img src="/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-3 hero-1">
                                </li>
                                <li class="layer" data-depth="0.03">
                                    <img src="/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-4 hero-1">
                                </li>
                                <li class="layer" data-depth="0.03">
                                    <img src="/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-5 hero-1">
                                </li>
                            </ul>
                            <!--animated shape end-->
                            <img src="/img/tmp/hero.svg" alt="hero img" class="img-fluid position-relative z-5">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--hero section end-->

        <!--feature promo section start-->
        <section class="feature-promo ptb-120 bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section-heading text-center">
                            <h2>İhtiyacınız Olan Tüm Özellikler</h2>
                            <p>Yapay zeka ile yorumlarınızın değerlendirildiği bir model</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature-promo p-lg-5 p-4 text-center mt-3">
                            <div class="feature-icon icon-center pb-5 rounded-custom bg-primary">
                                <i class="fal fa-layer-group fa-2x text-white"></i>
                            </div>
                            <div class="feature-info-wrap">
                                <h3 class="h5">Yüksek Performans</h3>
                                <p>Makine öğrenmesiyle gerçekleşen değerlendirmeler</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature-promo p-lg-5 p-4 text-center mt-3">
                            <div class="feature-icon icon-center pb-5 rounded-custom bg-danger">
                                <i class="fal fa-shield-check fa-2x text-white"></i>
                            </div>
                            <div class="feature-info-wrap">
                                <h3 class="h5">Son Derece Güvenli</h3>
                                <p>Yorumlarınızın herhangi bir şekilde başka bir ortamda kullanılmaması garantisi</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature-promo p-lg-5 p-4 text-center mt-3">
                            <div class="feature-icon icon-center pb-5 rounded-custom bg-dark">
                                <i class="fal fa-code fa-2x text-white"></i>
                            </div>
                            <div class="feature-info-wrap">
                                <h3 class="h5">Açık Kaynak Kodu</h3>
                                <p>Kaynak kodlarına erişilebilirlik ile gelişmemize yardımcı olabilirsin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature promo section end-->

        <!--feature left right content start-->
        <!--why choose us section start-->
        <section class="why-choose-us ptb-120">
            <div class="container">
                <div class="row justify-content-lg-between align-items-center">
                    <div class="col-lg-5 col-12">
                        <div class="why-choose-content">
                            <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
                                <i class="fal fa-shield-check fa-2x text-white"></i>
                            </div>
                            <h2>Gelişmiş Analitik, Mantığı Kavramak</h2>
                            <p>Gerçekleşen ağır koşullarda bile aksamayan eğitim sistemimizi yorumlayın ve gelişmesine yardımcı olun. Geliştirdiğimiz model ile eğitim hayatınızı ileri seviyelere taşımaya bir adım atın</p>
                            <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Universitelerin Puanları</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Bölümlerin Puanları</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Öğrenci Gözünden Değerlendirme</li>
                                <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Yapay Zeka Tarafından Puanlandırılma</li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
                            <img src="/img/tmp/page.svg" class="img-fluid" alt="feature-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--why choose us section end-->

        <!--image feature section start-->
        <section class="image-feature pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-5 col-12 order-lg-1">
                        <div class="feature-img-content">
                            <div class="icon-box rounded-custom bg-dark shadow-sm d-inline-block">
                                <i class="fal fa-fingerprint fa-2x text-white"></i>
                            </div>
                            <h2>Puanlamayı Bize Bırakın</h2>
                            <p>Üniversiteler ve bölümler puanlanırken yapılan yorumların içeriği ile ilerlenir. Öğrencileri bu zahmetli puanlama işleminden kurtarıp bunu yapay zeka ile halletmekteyiz. </p>
                            <p>Eğitilmiş model, gerekli olan puanlamayı yorumlarınızın anlamlarının pozitif veya negatif olmasına göre yapmaktadır.</p>

                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 order-lg-0">
                        <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
                            <img src="/img/tmp/restus.svg" class="img-fluid" alt="feature-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--image feature section end-->
        <!--feature left right content end-->

        <!--customer review tab section start-->
        <section class="customer-review-tab ptb-120 bg-gradient text-white  position-relative z-2">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-warning text-primary">Peki Neden?</h4>
                            <h2>Neden Yorumlama Ihtiyacı Duyduk?</h2>
                            <p>Uzaktan eğitimin ilerlenişinden etkilenmiş, daha da geliştirilebilir bir halde olduğunu gören biz ne diyoruz ?</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="testimonial-tabContent">
                            <div class="tab-pane fade active show" id="testimonial-tab-1" role="tabpanel">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                            <img src="/img/testimonial/quotes-left.svg" alt="testimonial quote" width="65" class="img-fluid mb-32">
                                            <div class="blockquote-title-review mb-4">
                                                <h3 class="mb-0 h4 fw-semi-bold">Benim için olumluydu ancak ...</h3>
                                                @*<ul class="review-rate mb-0 list-unstyled list-inline">
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                </ul>*@
                                            </div>

                                            <blockquote class="blockquote">
                                                <p>
                                                    Benim için olumlu geçen bir süreçti ancak çevremdeki insanlar açısından olumsuz geçtiğini görmekteyim.Bu sebepten ötürü uzaktan eğitimi değerlendiren bir sisteme ihtiyaç duyulduğunu düşünmekteyim. Gerekli geliştirmeler yapılabilir ve uzaktan eğitim açısından zayıf olan halkalar güçlendirilebilirse uzaktan eğitim ileride çok daha fazla kişi için olumlu bir süreç olabilir.
                                                </p>
                                            </blockquote>
                                            <div class="author-info mt-4">
                                                <h6 class="mb-0">Mehmet Güler</h6>
                                                <span>Yazılım Mühendisi</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="author-img-wrap pt-5 ps-5">
                                            <div class="testimonial-video-wrapper position-relative">
                                                <img src="/img/profile/mehmetResize.jpeg" class="img-fluid rounded-custom shadow-lg" alt="testimonial author">
                                                <div class="customer-info text-white d-flex align-items-center">
                                                    @*<a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="video-icon popup-youtube text-decoration-none"><i class="fas fa-play"></i> <span class="text-white ms-2 small"> Watch Video</span></a>*@
                                                </div>
                                                <div class="position-absolute bg-primary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="testimonial-tab-2" role="tabpanel">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                            <img src="/img/testimonial/quotes-left.svg" alt="testimonial quote" width="65" class="img-fluid mb-32">
                                            <div class="blockquote-title-review mb-4">
                                                <h3 class="mb-0 h4 fw-semi-bold">Yapay zeka modeliyle objektiflik sağlanacaktır.</h3>
                                                @*<ul class="review-rate mb-0 list-unstyled list-inline">
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                </ul>*@
                                            </div>
                                            <blockquote class="blockquote">
                                                <p>Üniversitelerimizin verdikleri uzaktan eğitimin öğrenciler tarafından objektif olarak değerlendirilmesi için öğrencilerin ortalama olarak puan vermesi yerine cümleler olarak yorum yapmaları ve bu yorumların yapay zeka ile işlenerek puanlanması daha doğru olacaktır. Çünkü genelde öğrenciler puan verirken tam olarak düşündükleri puanın kaç olduğunu belirleyemezler. Yapmış olduğumuz yapay zeka sayesinde daha önce yazılmış olan binlerce yorum puanlanmıştır. Bu puanlama sonucunda objektif sonuçların oluşması sağlanacaktır.</p>
                                            </blockquote>
                                            <div class="author-info mt-4">
                                                <h6 class="mb-0">Deniz Bora Küçük</h6>
                                                <span>Yazılım Mühendisi</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="author-img-wrap pt-5 ps-5">
                                            <div class="testimonial-video-wrapper position-relative">
                                                <img src="/img/profile/ResizeDeniz.png" class="img-fluid rounded-custom shadow-lg" alt="testimonial author">
                                                <div class="customer-info text-white d-flex align-items-center">
                                                    @*<a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="video-icon popup-youtube text-decoration-none"><i class="fas fa-play"></i> <span class="text-white ms-2 small"> Watch Video</span></a>*@
                                                </div>
                                                <div class="position-absolute bg-primary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="testimonial-tab-3" role="tabpanel">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                            <img src="/img/testimonial/quotes-left.svg" alt="testimonial quote" width="65" class="img-fluid mb-32">
                                            <div class="blockquote-title-review mb-4">
                                                <h3 class="mb-0 h4 fw-semi-bold">Farklı farklı problemlere çözüm.</h3>
                                                @*<ul class="review-rate mb-0 list-unstyled list-inline">
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                </ul>*@
                                            </div>
                                            <blockquote class="blockquote">
                                                <p>
                                                    Uzaktan eğitim dönemi boyunca sınıf ortamından uzak kaldığım için yeterli verimi alamadığımı düşünüyorum. İnternet sağlayıcıları yüzünden hocanın anlattıklarına tam odaklanamamakla beraber sık sık dersten kopmalar yaşadım. Bu yaşanan sorunlar sadece ben değil diğer öğrencilerde farklı farklı olduğunun da duyumunu aldık. Bu sebeple bu süreci genel değerlendirmeye almak istedik. Eğitim kurumlarına ileride tekrar uygulanabilecek uzaktan eğitim sistemi için nelere dikkat etmeleri gerektiği hakkında yardımcı bir kaynak olucağını düşünüyorum.
                                                </p>
                                            </blockquote>
                                            <div class="author-info mt-4">
                                                <h6 class="mb-0">Enes Susan</h6>
                                                <span>Yazılım Mühendisi</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="author-img-wrap pt-5 ps-5">
                                            <div class="testimonial-video-wrapper position-relative">
                                                <img src="/img/profile/EnesSusan.png" class="img-fluid rounded-custom shadow-lg" alt="testimonial author">
                                                <div class="customer-info text-white d-flex align-items-center">
                                                    @*<a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="video-icon popup-youtube text-decoration-none"><i class="fas fa-play"></i> <span class="text-white ms-2 small"> Watch Video</span></a>*@
                                                </div>
                                                <div class="position-absolute bg-primary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="testimonial-tab-4" role="tabpanel">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                            <img src="/img/testimonial/quotes-left.svg" alt="testimonial quote" width="65" class="img-fluid mb-32">
                                            <div class="blockquote-title-review mb-4">
                                                <h3 class="mb-0 h4 fw-semi-bold">Gelecek için yeni bir bakış açısı.</h3>
                                                @*<ul class="review-rate mb-0 list-unstyled list-inline">
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                </ul>*@
                                            </div>
                                            <blockquote class="blockquote">
                                                <p>Üniversiteler eğitimdeki son adımdır. Sonrasında iş hayatına atılır ve öğrendiklerimizi pratiğe dökeriz. Bu yüzden son adım bizim için oldukça önemlidir. Hangi eğitim sistemiyle devam edileceği bu sebeple belirlenmelidir. Covid-19 pandemi nedeniyle zorunlu geçiş yaptığımız uzaktan eğitim, beraberinde bazı soruları getirmiştir. Üniversitelerde eğitime hangi sistemle devam edilmelidir? Hangi eğitim sistemi daha yararlı olacak ve mesleki verimliliği arttıracaktır? Üniversite öğrencilerinin görüşlerini alarak bu soruya yanıt vermek istedik. Uzaktan eğitimin değerlendirilip ardından puanlanması sayesinde elimizde bir istatistiki sonuç olacaktır. Bu sonuç ile öğrencilerin eğitime nasıl devam etmek istedikleri hakkında kabaca bir bilgiye sahip olacağız. Bu bilginin önümüzdeki yıllara etki edeceğini düşünüyoruz. Araştırma projemizde, günümüz teknolojilerinden biri olan yapay zekayı kullanarak öğrenci görüşlerini filtreleyeceğiz.  </p>
                                            </blockquote>
                                            <div class="author-info mt-4">
                                                <h6 class="mb-0">Dilan Kaya</h6>
                                                <span>Yazılım Mühendisi</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="author-img-wrap pt-5 ps-5">
                                            <div class="testimonial-video-wrapper position-relative">
                                                <img src="/img/profile/ResizeDilan.jpeg" class="img-fluid rounded-custom shadow-lg" alt="testimonial author">
                                                <div class="customer-info text-white d-flex align-items-center">
                                                    @*<a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="video-icon popup-youtube text-decoration-none"><i class="fas fa-play"></i> <span class="text-white ms-2 small"> Watch Video</span></a>*@
                                                </div>
                                                <div class="position-absolute bg-primary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="tab-pane fade" id="testimonial-tab-5" role="tabpanel">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                            <img src="/img/testimonial/quotes-left.svg" alt="testimonial quote" width="65" class="img-fluid mb-32">
                                            <div class="blockquote-title-review mb-4">
                                                <h3 class="mb-0 h4 fw-semi-bold">It is Undeniably Good!</h3>
                                                <ul class="review-rate mb-0 list-unstyled list-inline">
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                            <blockquote class="blockquote">
                                                <p>Appropriately disintermediate one-to-one vortals through cross functional
                                                    infomediaries. Collaboratively pursue multidisciplinary systems through
                                                    stand-alone architectures. Progressively transition covalent architectures whereas vertical applications procrastinate professional.</p>
                                            </blockquote>
                                            <div class="author-info mt-4">
                                                <h6 class="mb-0">Zafer Cömert</h6>
                                                <span>Doç. Dr. Öğretim Üyesi</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="author-img-wrap pt-5 ps-5">
                                            <div class="testimonial-video-wrapper position-relative">
                                                <img src="/img/testimonial/t-5.jpg" class="img-fluid rounded-custom shadow-lg" alt="testimonial author">
                                                <div class="customer-info text-white d-flex align-items-center">
                                                   @* <a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="video-icon popup-youtube text-decoration-none"><i class="fas fa-play"></i> <span class="text-white ms-2 small"> Watch Video</span></a>*@
                                               @* </div>
                                                <div class="position-absolute bg-primary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-pills testimonial-tab-menu mt-60" id="testimonial" role="tablist">
                            <li class="nav-item" role="presentation">
                                <div class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link active" data-bs-toggle="pill" data-bs-target="#testimonial-tab-1" role="tab" aria-selected="false">
                                    <div class="testimonial-thumb me-3">
                                        <img src="/img/profile/mehmetResize.jpeg" width="50" class="rounded-circle" alt="testimonial thumb">
                                    </div>
                                    <div class="author-info">
                                        <h6 class="mb-0">Mehmet Güler</h6>
                                        <span>Yazılım Mühendisi</span>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <div class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link" data-bs-toggle="pill" data-bs-target="#testimonial-tab-2" role="tab" aria-selected="false">
                                    <div class="testimonial-thumb me-3">
                                        <img src="/img/profile/ResizeDeniz.png" width="50" class="rounded-circle" alt="testimonial thumb">
                                    </div>
                                    <div class="author-info">
                                        <h6 class="mb-0">Deniz Bora Küçük</h6>
                                        <span>Yazılım Mühendisi</span>
                                    </div>
                                </div>

                            </li>
                            <li class="nav-item" role="presentation">
                                <div class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link" data-bs-toggle="pill" data-bs-target="#testimonial-tab-3" role="tab" aria-selected="false">
                                    <div class="testimonial-thumb me-3">
                                        <img src="/img/profile/EnesSusan.png" width="50" class="rounded-circle" alt="testimonial thumb">
                                    </div>
                                    <div class="author-info">
                                        <h6 class="mb-0">Enes Susan</h6>
                                        <span>Yazılım Mühendisi</span>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <div class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link" data-bs-toggle="pill" data-bs-target="#testimonial-tab-4" role="tab" aria-selected="false">
                                    <div class="testimonial-thumb me-3">
                                        <img src="/img/profile/ResizeDilan.jpeg" width="50" class="rounded-circle" alt="testimonial thumb">
                                    </div>
                                    <div class="author-info">
                                        <h6 class="mb-0">Dilan Kaya</h6>
                                        <span>Yazılım Mühendisi</span>
                                    </div>
                                </div>
                            </li>
                            @*<li class="nav-item" role="presentation">
                                <div class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link" data-bs-toggle="pill" data-bs-target="#testimonial-tab-5" role="tab" aria-selected="true">
                                    <div class="testimonial-thumb me-3">
                                        <img src="/img/testimonial/5.jpg" width="50" class="rounded-circle" alt="testimonial thumb">
                                    </div>
                                    <div class="author-info">
                                        <h6 class="mb-0">Zafer Cömert</h6>
                                        <span>Customer Support</span>
                                    </div>
                                </div>
                            </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--customer review tab section end-->

        <!--our work process start-->
        <section class="work-process ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Hedeflerimiz</h4>
                            <h2>Hedeflerimiz Var</h2>
                            <p>Yeniden böyle bir süreçle karşılaştığımızda hazır olmayı istemekle beraber önceki hatalarımızdan uzakta gelişmiş olmayı istemekteyiz.</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5 col-md-12 order-1 order-lg-0">
                        <div class="img-wrap">
                            <img src="/img/tmp/amac.svg" alt="work process" class="img-fluid rounded-custom">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 order-0 order-lg-1">
                        <ul class="work-process-list list-unstyled">
                            <li class="d-flex align-items-start mb-4">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="far fa-folder-tree fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">Hedef 1</span>
                                    <h3 class="h5 mb-2">İyi Yönde Gelişim</h3>
                                    <p>Karşılaşan Uzaktan eğitim durumlarında puanlanan üniversitelerin genel olarak iyi yönde gelişimini hedeflemekteyiz.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="far fa-bezier-curve fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">Hedef 2</span>
                                    <h3 class="h5 mb-2">Rahat Erişim</h3>
                                    <p>Bu gelişim sayesinde erişilebilecek öğrenci sayısının maksimuma vurması hedeflemekteyiz.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="far fa-layer-group fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">Hedef 3</span>
                                    <h3 class="h5 mb-2">LEVEL UP!</h3>
                                    <p>Bu hedefler etkisiyle varlığını sürdüren uzaktan eğitim modellerinin seviye atlamasını hedeflemekteyiz.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4 mb-lg-0">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="far fa-truck fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">Hedef 4</span>
                                    <h3 class="h5 mb-2">Bakış Açısı</h3>
                                    <p>Uzaktan eğitim kavramının öğrenci ve eğitimcilerin korkuyla baktığı bir konu olmaktansa daha olumlu bir bakış açısı kazandırtmayı amaçlamaktayız.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--our work process end-->

        <!--pricing section start-->
        <section class="pricing-section pt-60 pb-120  position-relative z-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Değerlendir/Göster</h4>
                            <h2>Modelimizi Denemeye Ne Dersin?</h2>
                            <p>İstersen değerlendirilen üniversite ve bölümleri görebilirsin istersen de üniversiteni değerlendirebilirsin. </p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0">
                            <div class="pricing-header mb-32">
                                <h3 class="package-name text-primary d-block">Universiteleri Göster</h3>
                            </div>
                            <div class="pricing-info mb-4">
                                <ul class="pricing-feature-list list-unstyled">
                                    <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Üniversitenin Puanını Öğrenebilirsin</li>
                                    <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Bölümlerin Ne Durumda Olduğunu Görebilirsin</li>
                                    <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Bulunduğun veya Bulunacağın Sürecin Nasıl Gittiğini Gözlemleyebilirsin</li>
                                    <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Gitmek İstediğin Bölümün/Üniversitenin Uzaktan Eğitim Konusunda Puanlandırılması</li>
                                    <li></li>
                                    <li></li>
                                    @*<li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Automated Updated Features</li>
                                    <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> 24/7 Life time Support</li>*@
                                </ul>
                            </div>
                            <a href="/universities" class="btn btn-outline-primary mt-2">Göster</a>

                            <!--pattern start-->
                            <div class="dot-shape-bg position-absolute z--1 left--40 bottom--40">
                                <img src="/img/shape/dot-big-square.svg" alt="shape">
                            </div>
                            <!--pattern end-->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="position-relative single-pricing-wrap rounded-custom bg-gradient text-white p-5 mb-4 mb-lg-0">
                            <div class="pricing-header mb-32">
                                <h3 class="package-name text-warning d-block">Bölüm Değerlendir</h3>
                                
                            </div>
                            <div class="pricing-info mb-4">
                                <ul class="pricing-feature-list list-unstyled">
                                    <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Tek Yorum</li>
                                    <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Yapay Zeka</li>
                                    <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Gizlilik</li>
                                    <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Adil Değerlendirme</li>
                                    <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Gelişmeye Yardım</li>
                                    <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Ve Daha Bir Çok Yardım..</li>
                                    
                                </ul>
                            </div>
                            <a href="/contact" class="btn btn-primary mt-2">Değerlendir</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--pricing section end-->

        <!--faq section start-->
        <section class="faq-section ptb-120 bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">SSS</h4>
                            <h2>Sıkça Sorulan Sorular</h2>
                            <p>Bize sıkça sorulan sorular. </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5 col-12">
                        <div class="faq-wrapper">
                            <div class="faq-item mb-5">
                                <h5><span class="h3 text-primary me-2">1.</span> Yapay zeka nasıl çalışıyor? </h5>
                                <p>Eğitmiş olduğumuz model, cümlelerin iyi veya kötü olmasına göre puan veriyor. Bu puanlar sayesinde de bölümünüz ve üniversiteniz değerlendirilmiş oluyor.</p>
                            </div>
                            <div class="faq-item mb-5">
                                <h5><span class="h3 text-primary me-2">2.</span> Yaptığımız yorumlar gözükücek mi? </h5>
                                <p>Yorumlar gizli bir biçimde saklanacaktır. Dışarıdan bir erişim söz konusu değildir. </p>
                            </div>
                            <div class="faq-item">
                                <h5><span class="h3 text-primary me-2">3.</span> Amaçlarınıza ulaşabilecek misiniz? </h5>
                                <p> Uzaktan eğitim sürecini tadan kişiler olarak; amaçlarımıza ulaşabileceğimizi düşünmekteyiz. Ulaşamazsak eğer küçükte olsa bir değişim yaratabiliriz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center mt-4 mt-lg-0 mt-md-0">
                            <img src="/img/faq.svg" alt="faq" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--faq section end-->

        <!--integration section start-->
       @*@* <section class="integration-section ptb-120">
            <div class="container">
                @*<div class="row align-items-center justify-content-between">
                    @*<div class="col-lg-3">
                        <div class="integration-list-wrap">
                            <a href="integration-single.html" class="integration-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                <img src="/img/integations/1.png" alt="integration" class="img-fluid rounded-circle">
                            </a>
                            <a href="integration-single.html" class="integration-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                <img src="/img/integations/2.png" alt="integration" class="img-fluid rounded-circle">
                            </a>
                            <a href="integration-single.html" class="integration-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                <img src="/img/integations/3.png" alt="integration" class="img-fluid rounded-circle">
                            </a>

                            <a href="integration-single.html" class="integration-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                <img src="/img/integations/4.png" alt="integration" class="img-fluid rounded-circle">
                            </a>
                            <a href="integration-single.html" class="integration-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                <img src="/img/integations/5.png" alt="integration" class="img-fluid rounded-circle">
                            </a>
                            <a href="integration-single.html" class="integration-6" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                <img src="/img/integations/6.png" alt="integration" class="img-fluid rounded-circle">
                            </a>
                        </div>
                    </div>*@
                    @*<div class="col-lg-6 col-12">
                        <div class="section-heading text-center my-5 my-lg-0 my-xl-0">
                            <h4 class="text-primary h5">Integration</h4>
                            <h2>We Collaborate with Top Software Company</h2>
                            <a href="integrations.html" class="mt-4 btn btn-primary">View all Integration</a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="col-lg-4">
                            <div class="integration-list-wrap">
                                <a href="integration-single.html" class="integration-7" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                    <img src="/img/integations/7.png" alt="integration" class="img-fluid rounded-circle">
                                </a>
                                <a href="integration-single.html" class="integration-8" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                    <img src="/img/integations/8.png" alt="integration" class="img-fluid rounded-circle">
                                </a>
                                <a href="integration-single.html" class="integration-9" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                    <img src="/img/integations/9.png" alt="integration" class="img-fluid rounded-circle">
                                </a>

                                <a href="integration-single.html" class="integration-10" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                    <img src="/img/integations/10.png" alt="integration" class="img-fluid rounded-circle">
                                </a>
                                <a href="integration-single.html" class="integration-11" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                    <img src="/img/integations/11.png" alt="integration" class="img-fluid rounded-circle">
                                </a>
                                <a href="integration-single.html" class="integration-12" data-bs-toggle="tooltip" data-bs-placement="top" title="Your Brand Name">
                                    <img src="/img/integations/12.png" alt="integration" class="img-fluid rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>*@
                @*</div>*@
                @*<div class="row justify-content-center mt-100">
                    <div class="col-lg-5 col-md-12">
                        <a href="integration-single.html" class="mb-4 mb-lg-0 mb-xl-0 position-relative text-decoration-none connected-app-single border border-light border-2 rounded-custom d-block overflow-hidden p-5">
                            <div class="position-relative connected-app-content">
                                <div class="integration-logo bg-custom-light rounded-circle p-2 d-inline-block">
                                    <img src="/img/integations/4.png" width="40" alt="integration" class="img-fluid">
                                </div>
                                <h5>Google Drive</h5>
                                <p class="mb-0 text-body">Competently generate unique e-services and client-based models.
                                    Globally engage tactical niche</p>
                            </div>
                            <span class="position-absolute integration-badge badge px-3 py-2 bg-primary-soft text-primary">Connect</span>
                        </a>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <a href="integration-single.html" class="position-relative text-decoration-none connected-app-single border border-light border-2 rounded-custom d-block overflow-hidden p-5">
                            <div class="position-relative connected-app-content">
                                <div class="integration-logo bg-custom-light rounded-circle p-2 d-inline-block">
                                    <img src="/img/integations/9.png" width="40" alt="integration" class="img-fluid">
                                </div>
                                <h5>Google Drive</h5>
                                <p class="mb-0 text-body">Globally engage tactical niche markets rather than client-based
                                    competently generate services</p>
                            </div>
                            <span class="position-absolute integration-badge badge px-3 py-2 bg-danger-soft text-danger">Connected</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>*@
        <!--integration section end-->
        
        <!--cat subscribe start-->
        <section class="cta-subscribe pt-60 pb-120 ">
            <div class="container">
                <div class="bg-gradient ptb-120 position-relative overflow-hidden rounded-custom">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-md-8">
                            <div class="subscribe-info-wrap text-center position-relative z-2">
                                <div class="section-heading">
                                    <h4 class="h5 text-warning">Destek</h4>
                                    <h2>Bu Proje TÜBİTAK Desteğiyle Hazırlanmıştır.</h2>
                                    @*<p>We can help you to create your dream website for better business revenue.</p>*@
                                </div>
                                <center class="form-block-banner mw-60 m-auto mt-5">
                                    <div class="col-6 col-sm-3 my-2 ps-lg-0">
                                    <img src="/img/logos/TÜBİTAK_logo.png" alt="tübitak" class="img-fluid">
                                </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
                    <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>
                </div>
            </div>
        </section>


